@(implicit lang: Lang)

<form class="form-inline" role="form">
    <div class="form-group">
        <label class="sr-only" for="newToDo">@Messages("todo.create.label")</label>
        <input
        id="newToDo"
        type="text"
        class="form-control"
        placeholder="@Messages("todo.create.label")"
        ng-model="newToDo.name"/>
    </div>
    <input type="submit" class="btn" ng-click="createToDo()" value="@Messages("todo.create.button")"/>
    <input type="submit" class="btn btn-warning pull-right" ng-click="prune()" value="@Messages("todo.prune.button")"/>
</form>