@(implicit lang: Lang)



<div class="navbar-right"
ng-controller="LanguageController">
    <select name="language" id="language" ng-model="language">
        <option value="en">English (@Messages("language.select.en"))</option>
        <option value="de">Deutsch (@Messages("language.select.de"))</option>
        <option value="fr">Francais (@Messages("language.select.fr"))</option>
        <option value="ja">日本語 (@Messages("language.select.ja"))</option>
    </select>
    <button class="btn btn-default navbar-btn"
            style="margin-right: 15px;"
            ng-click="updateLanguage(language)">
              @Messages("language.select.button")
    </button>
</div>
